/* .App {
    text-align: center;
  } */
  
  
  .App-title {
    text-align: center;
    /* align-items: center; */
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  
  .navigation {
    list-style: none;
    margin: 0; 
    background: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  .navigation a:hover {
    background: darkgrey;
    color: black;
  }

  .navigation-active {
    background-color: #500;
  }
  
  .text-area {
    
    display: flex;
    minHeight: 200;
     maxHeight: 500, 

  }